extends layout

block centerBlock
	#notfound
		h1 Ahhhhh, the page you requested doesn't exist!
		p Not to worry, you can either head back to our home page or sit here and watch this goose chase around a random dude and remind yourself that pissing off geese generally isn't a good idea.
		img(src="http://i.imgur.com/OLk9TCC.gif" class="img-responsive goose")