extends layout

block centerBlock

	#teamDescription
		h1 What is URStash?
			h3#description URStash is created by UR students for UR students. We were tired of overpriced books, and decided to bring this website to you so that you'd save those bucks for beach week instead of spending it on a $200 calculus text book. Had to throw away your furniture and electronics because you couldn't take them back home? We got you covered. 

	div.section#team
		.width
			h4#aboutUs The awesome spiders behind URStash
				br
				br
			.row#ourpictures
				.col-sm-3
					img(src="/images/omar.jpg" class="img-responsive team-image") 
					a(href="") Omar Farooq
					br
					span.title Co-Founder
				.col-sm-3
					img(src="/images/john.jpg" class="img-responsive team-image")
					a(href="") John Keto
					br
					span.title Co-Founder
				.col-sm-3
					img(src="/images/shiv.jpg" class="img-responsive team-image")
					a(href="") Shiv Toolsidass
					br
					span.title Front-End Developer
				.col-sm-3
					img(src="/images/alex2.jpg" class="img-responsive team-image")
					a(href="") Alexandru Pana
					br
					span.title Tester
	br
	a(id = "terms" href='/terms' title="Terms and conditions") Terms and Conditions
	p#photocred Photos by the one and only Ziad Shafi '18
	link(type='text/css', rel='stylesheet', href='stylesheets/style.css')
	script(type='text/javascript', src="/js/about.js")