extends layout

block centerBlock
	div.results-list
		h1 Search Results
		-if (typeof(search) === 'undefined' ){
			//-do something
			p No results found
		-}else		
			ul
				each user, i in search
					li.book-box
						p.book-title
							a(href="/book/" + user.ISBN ) #{user.Name} 
						p.book-price #{user.Price} $
							br
							a(href="/book/buy/" + user._id ) BUY
						p.book-author #{user.Author}
						p.book-isbn #{user.ISBN}

	//Adding the css
	link(type='text/css', rel='stylesheet', href='/stylesheets/results.css')
