extends layout

block centerBlock
	.container.container-table
			.row.vertical-center-row
				.text-center.col-md-4.col-md-offset-4
					.logo <i class="fa fa-check-square-o" id='large-icon'></i>
						br
						p	Success!
						small Check your email and contact the person selling the item
						br
						a(href='/') Buy something else