extends layout

block centerBlock
	.container.container-table#login-div
			.row.vertical-center-row
				.text-center
					.logo <i class="fa fa-check-square-o" id='large-icon'></i>
						br
						p Success!
						small Check your email and contact the person selling the item
						br
						a(href='/') Buy something else