//when layout is extended, then the login stuff disappears!
extends layout

block centerBlock
		.container.container-table#login-div
			.row.vertical-center-row
				.text-center.col-md-4.col-md-offset-4
					.logo Forgot Password
						br
						small#small Check your email for a reset link
					form#login(name="login",method="post",action="/forgot")
							input.form-control#emailForm(type="text", placeholder="Email", name="username" required autofocus="")
														
							button.btn.btn-lg.btn-primary.btn-block#btnlogin(type="submit", title = "Your username or password was invalid. Try again.") Forgot Password
							
							

		
//-file Shiv wrote is validate.js
script(type='text/javascript', src="/js/validate.js")
link(rel="stylesheet", href="/stylesheets/login.css")