extends layout
//- This page gets loaded when we searhc for an item
block centerBlock
	div.results-list
		h1 Search Results
		-if (typeof(search) === 'undefined' ){
			//-do something
			h1 No results found
		-}else
			//-iterate over all the items/users and display them
			ul
				each user, i in search
					li.book-box
						.row
							.col-xs-8.col-md-10
								p.book-title
									a(href="#") #{user.Name}
							.col-md-2
								.book-price-down
									p #{user.Price} $
						.row
							.col-xs-9
								p.book-isbn #{user.Description}
							.col-xs-12.col-sm-3
								a(href="/item/buy/" + user._id )
									.book-buy
										p BUY	

						

	//Adding the css
	link(type='text/css', rel='stylesheet', href='stylesheets/results.css')
	//- Link login.js so that navbar can fade away when scrolling down
	script(type='text/javascript', src="/js/login.js")