html
	head
		title #{title}
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- Stylesheets ------------------------------------------------------------------------------------------------
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'/>	
		link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		//- ---------------------------------------------------------------------------------------------------------------------


		link(type='text/css', rel='stylesheet', href='/stylesheets/signInUpStyle.css')
		<link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<meta property="og:image" content="/images/pig_icon_grey.png" />
		
	body#page-top(data-spy="scroll" data-target=".navbar-fixed-top")
			nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")#navbarTop
					.container#navContainer
						.navbar-header.page-scroll
							button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand.page-scroll(href="/")
								img(src="/images/pig_icon_grey.png" style="height:40px;margin-top:-10px;")
						.collapse.navbar-collapse.navbar-ex1-collapse
							ul.nav.navbar-nav#rightTest
								li.hidden
									a.page-scroll(href="#page-top")
								li
									a#searchA(href='#') Search
									div#hideThis
										form(name="search",method="post",action="/search")
											input.form-control#inputSearch(type="search" name="searchItem" required placeholder="Enter here!")
											button.btn.btn-primary(type="submit") Search	
							ul.nav.navbar-nav.navbar-right
								//li
									icon(type="submit" onclick="window.location.href='/'") <i class="fa fa-cubes"></i>		
								li
									a(href='/booklist') Item List
								li
									a(href='/newItem' title="Sell an Item") Sell
								li
									if(user)
										a(href='/profile' title='Profile') Hey, #{user.firstname}
										li
											a(href='/logout' ) Logout
									else
										a(href='/login' title="Sign In") Login
								li
									a(href="/about") About
				
			block centerBlock


script(type='text/javascript', src='/js/jquery.js')
//script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(type='text/javascript', src='/js/jquery.leanModal.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js')


//fullpage.js for scrolling effect

script(type='text/javascript', src='/js/autocomplete.js')
script(type='text/javascript', src='/js/validate.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/jquery.easing.min.js')
//-Google Analytics
script(type='text/javascript', src='/js/analytics.js')