doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

	body
		//For a future Navbar
		
		nav#navbar
			ul
				li#icon <i class="fa fa-cubes"></i>
				li HOME
				li SIGNUP

		//For the bkg image	
		<img src="/images/bg5.jpg" id="bg" alt="">
		
		div.row
			block searchBarBlock
			

			block content
	