doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

	body
		//For a future Navbar
		div.row
			nav#navbar
				ul
					li#icon
						a(href="/") <i class="fa fa-cubes"></i>
					li
						a(href="/newItem" title="Sell an Item!") <i class="fa fa-money"></i>
					
					li
						if(user)
							a(href="/logout") Logout

					li
						if(user)
							p Hey #{user.firstname}
						else
							a(href="/login") Login
					
						

		//For the bkg image	
		<img src="/images/bg5.jpg" id="bg" alt="">
		//div.bg_container
		//	<video id="bg" src="page_bg.mp4" autoplay="true" loop="true" muted="true"></video>
		
		
		
		div.row
			block searchBarBlock
			
		div.row
			block content