//when layout is extended, then the login stuff disappears!
extends layout

block centerBlock
	.section#searchBarSection
		.slide
			//Edited this out. To make page cleaner
			//.jumbotron#loginJumbo
				h1 URStash.
				p Start saving. Start stacking.
			
			#loginRow
				form#login(name="login",method="post",action="/login")
					h1.form-signin-heading.text-muted Log In
					h1 #{info}
					input.form-control#emailForm(type="text", placeholder="Email", name="username" required autofocus="")
					input.form-control#passForm(type="password", placeholder="Password", name="password" required)
					button.btn.btn-lg.btn-primary.btn-block#btnlogin(type=submit, title = "Your username or password was invalid. Try again.") Log In
					p Don't have an account? 
						a#signupbutton Sign Up
					div#emailError
						p Log in with your UR email.
					div#passwordError
						p You hopefully remember your password, right?

		.slide
			#signupRow
				form#signup(name="signup",method="post",action="/signup")
						h1.form-signin-heading.text-muted Sign Up
						input.form-control#firstSignUp(type="text", placeholder="First Name", name="firstname" required)
						input.form-control#lastName(type="text", placeholder="Last Name", name="lastname" required)
						input.form-control#emailForm(type="text", placeholder="Email", name="username" required)
						input.form-control#passwordForm(type="password", placeholder="Password", name="password" required)
						input.form-control#lastSignUp(type="text", placeholder="Phone Number", name="phonenumber" )
						button.btn.btn-lg.btn-primary.btn-block#btnsignup(type=submit) Sign Up
						p Already have an account? 
							a#loginbutton(type="button") Log In
						div#emailPrompt
							p Sign up with your UR email address.
						div#passwordPrompt
							p Enter a password greater than 6 characters in length.
						div#numberPrompt
							p So that we can connect you with other stashers.


//file Shiv wrote is validate.js
script(type='text/javascript', src="/js/validate.js")
link(rel="stylesheet", href="/stylesheets/login.css")