form#login(name="login",method="post",action="/login")
			
	input(type="text", placeholder="Email", name="email" required)
	br
	br
	input(type="text", placeholder="Password", name="password" required)
	button#btnlogin(type=submit) submit

			
			div#hideThis
				input#inputAuthor(type="text", placeholder="Author", name="bookauthor" readonly)
				br
				input#inputISBN(type="text", placeholder="ISBN", name="bookisbn" readonly)
				br
			input#inputCondition(type="range", placeholder="Condition", name="bookcondition" required)
			br
			br
			input#inputPrice(type="number", placeholder="Price", name="bookprice" required)
			br
			button#btnSubmit(type="submit") submit