//when layout is extended, then the login stuff disappears!
extends layout

block centerBlock
		.container.container-table#login-div
			.row.vertical-center-row
				.text-center.col-md-4.col-md-offset-4
					.logo#logo Reset Password
						br
						small#small Enter new password
						p #{resetLink}	 
					form#login(name="psr",method="post",action=''+resetLink )
							//- 
							input.form-control#passwordForm(type="password", placeholder="New Password", name="password" required autofocus="")
							input.form-control#passwordForm(type="password", placeholder="Confirm Password", name="confpassword" required autofocus="")							
							button.btn.btn-lg.btn-primary.btn-block#btnlogin(type="submit", title = "Your username or password was invalid. Try again.") Reset Password
							
							

		
//-file Shiv wrote is validate.js
script(type='text/javascript', src="/js/validate.js")