extends blank_layout

block content
	h1 Searches
	-if (typeof(searchResults) === 'undefined' ){
		//-do something
		p No results found
	-}else		
		ul
			each user, i in searchResults
				li
					p #{user.Name} 
					p #{user.Author}
					p Price:  #{user.Price} $
					p
						a(href="/book/buy/" + user._id ) BUY
					br
					hr
	link(type='text/css', rel='stylesheet', href='stylesheets/results.css')