extends layout
//- This page gets loaded when we searhc for an item
block centerBlock
	div.results-list
		h1 Search Results
		-if (search.results.length <1 ){
			//-do something
			h1 No results found
			br
			.logo 
				a(href='/booklist') Check out what we do have
		-}else
			//-iterate over all the items/users and display them
			ul
				each user, i in search.results
					li.book-box
						.row
							.col-xs-8.col-md-10
								p.book-title
									a(href="#") #{user.obj.Name}
							.col-md-2
								.book-price-down
									p #{user.obj.Price} $
						.row
							.col-xs-9
								p.book-isbn #{user.obj.Description}
							.col-xs-12.col-sm-3
								a(href="/item/buy/" + user.obj._id )
									.book-buy
										p BUY	

						

	//Adding the css
	link(type='text/css', rel='stylesheet', href='stylesheets/results.css')
