extends layout

block content
	h1 Searches
	-if (typeof(search.results) === 'undefined' ){
		//-do something
		p No results found
	-}else		
		ul
			each user, i in search.results
				li
					p #{user.obj.Name} 
					p #{user.obj.Author}
					br
					hr