extends layout

block centerBlock
	div.results-list
		h1 Search Results
		-if (typeof(search.results) === 'undefined' ){
			//-do something
			p No results found
		-}else		
			ul
				each user, i in search.results
					li.book-box
						p.book-title
								a(href="/book/" + user.obj.ISBN ) #{user.obj.Name} 
						p.book-price #{user.obj.Price} $
						p.book-author Author: #{user.obj.Author}
						p.book-isbn ISBN: #{user.obj.ISBN}

						

	//Adding the css
	link(type='text/css', rel='stylesheet', href='stylesheets/results.css')
