extends layout

block centerBlock
	.container.container-table#login-div
			.row.vertical-center-row
				.text-center
					.logo <i class="fa fa-check-square-o" id='large-icon'></i>
						br
						small Your item has been added to the stash.
						br
						small You will be notified when someone wants to buy it.
						br
						a(href='/newItem') Sell something else
						