
/*Make design mobile responsive!*/


/*Jumbotron on main page*/
#indexJumbotron{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

/*Contents of jumbotron. Trying to add animation.*/
#jumboContents{
  font-weight: 1200;
  font-family: "Titillium Web", sans-serif;
  color: white;
  text-shadow: 0.7px 0.7px black;
  text-align: center;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

#jumboContents h1{
  font: "Titillium Web", sans-serif;
  font-size: 5em;
  /*text-align: center;*/
  color: white;
  border-right: .1em solid white;
  width: calc(0.55em * 30); 
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3s steps(40, end),
             blink-caret .5s step-end infinite alternate;
}

#jumboContents p{
  font-size: 1.5em;
}

/*SEARCH BAR*/

#inputSearch{
  text-align: center;
  height: 2.5em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

/*Div to encapsulate search bar so that we can center it.*/
#searchDiv{
  width: 50%;
  margin-right:auto;
  margin-left:auto;
}

#btnSearch{
  margin: 1em;
}

/*Search bar styling done*/

body{
  background-size: cover;
  background-image: url(../images/richmond7.jpg);
}

/*Style the navbar*/
#navbarTop{
  padding-top: 0.5em;
  color: white;
  background-color: transparent;
  border-bottom: transparent;
  font: 1.5em "Titillium Web", sans-serif;
}

#navContainer{
  color: #fff;
}
/*Navbar*/


/*About page*/
#teamDescription{
  padding-top: 10%;
  margin: auto;
  width: 70%;
  font-family: "Titillium Web", sans-serif;
  color: white;
  text-shadow: 0.7px 0.7px black;
  text-align: center;
}


/*------------------- Login page----------------------------------------*/
#outer-div{
  height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.logo{
  padding: 15px 0;
  font-size: 2.5em;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-weight: bold;
}

#login p, #pleaseuse{
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-size: 0.5em;
}

#emailForm, #passForm, #btnLogin{
  margin: 10px;
}

#emailForm, #passForm{
  border-width: 2px;
}





/*-----------------------------------------------------------------------*/



