
/*Make design mobile responsive!*/


/*Jumbotron on main page*/

#jumboContainer{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
 
  align-items: center;
  text-align: center;
}

#indexJumbotron{

  background-color: transparent;
}

/*Contents of jumbotron. Trying to add animation.*/
#jumboContents{
  font-weight: 1200;
  font-family: "Titillium Web", sans-serif;
  color: white;
  text-shadow: 0.7px 0.7px black;
  text-align: center;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

#mainh1{
  font: "Titillium Web", sans-serif;
  font-size: 5em;
  /*text-align: center;*/
  color: white;
  border-right: .1em solid white;
  width: calc(0.55em * 30); 
  width: 95%; /*Changed this from 30ct to make responsive*/
  /*white-space: nowrap;*/ /*Changed this for responsive*/
  overflow: hidden;
  -webkit-animation: typing 3s steps(40, end),
             blink-caret .5s step-end infinite alternate;
}

#jumboContents p{
  font-size: 1.5em;
}

/*SEARCH BAR*/

#inputSearch{
  text-align: center;
  height: 2.5em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

/*Typeout animation*/

.typeout{
  text-align: center;
  font-size: 1.5em;
  font-family: "Titillium Web", sans-serif;
}

/*Div to encapsulate search bar so that we can center it.*/
#searchDiv{
  width: 50%;
  margin-right:auto;
  margin-left:auto;
}

#btnSearch{
  margin: 1em;
}

/*Search bar styling done*/

body{
  background-size: cover;
  background-image: url(../images/richmond7.jpg);
}

/*Style the navbar*/
#navbarTop{
  padding-top: 0.5em;
  color: white;
  background-color: transparent;
  border-bottom: transparent;
  font: 1.5em "Titillium Web", sans-serif;
}

#navContainer{
  color: #fff;
}
/*Navbar*/


/*-------------------ABOUT US----------------------------------------*/
#teamDescription{
  padding-top: 10%;
  margin: auto;
  width: 70%;
  font-family: "Titillium Web", sans-serif;
  color: white;
  text-shadow: 0.7px 0.7px black;
  text-align: center;
}


#team{
 background-image: url(../images/richmond6fade.jpg);
 background-size: cover;
}
/*Included this to try and change padding of h1 without shifting pictures*/
#team .width{
padding: 0px 20px;
margin-top: -30px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8 */
}

#team #aboutUs{
  padding-top: 0px;
}

#team h1{
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.8);
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  /*Can't get this piece of shit to shift up! help!*/
}

#team a, #team .title{
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
  color: #fff;
}


.team-image{
  border-radius: 60%;
  margin: 0 auto;
  border-color: #eee;
  border-width: 20px;
  max-height: 20%;
 }

 #aboutUs{
  font-size:2.0em;
  /*font-family:'mueso_sans700', sans-serif;*/
  margin: 60px auto 10px;
  text-align: center;
  /*text-transform: uppercase;*/
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  color:#FFF;
  text-decoration: underline;
}

#team .col-sm-3{
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

/*Change background color of div when hovering over it - makes it easier to see with bright background*/
#team .col-sm-3:hover{
    background: rgba(0, 0, 0, 0.4);
}

#team .col-sm-3 .title{
  font-size: 1em;
  font-weight: normal;
}

#terms{
  text-align: right;
  color: #fff;
  font: "Titillium Web", sans-serif;
  font-weight: bold;
}

#photocred{
  text-align: right;
  color: #fff;
  font: "Titillium Web", sans-serif;
}


/*-----------------------------------------------------------*/


/*------------------- Login page----------------------------------------*/
#login-div, #signup-div{
  height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.logo{
  padding: 15px 0;
  font-size: 2.5em;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-weight: bold;
}

#login p, #pleaseuse, #signup p{
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-size: 0.5em;
}

#emailForm, #passForm, #btnLogin, #firstSignUp, #lastName, #emailForm2, #passwordForm, #lastSignUp, #btnsignup{
  margin: 10px;
}

#emailForm, #passForm, #emailForm2, #passwordForm, #lastSignUp{
  border-width: 2px;
}

/*-----------------------------------------------------------------------*/

/*--------------------------Terms and conditions page---------------------------------*/

#termsandcon{
  font-family: "Titillium Web", sans-serif;
  color: #fff;
}

/*-----------------------------------------------------------------------*/

/*----------------------404 page-----------------------------------*/

#notfound{
     position:absolute;
     width: 40%;
     height:40%;
     z-index:15;
     top:50%;
     left:45%;
     margin:-150px 0 0 -150px;
     color: #fff;
}

#notfound h1{
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
}

#notfound p{
  font-size: 1.2em;
}

.goose{
  border: 1px solid white;
  height: 100%;
  width: 100%;
  margin: auto;
}


